:root {
  font-size: 62.5%;
  --primary-background: #eee;
  --secondary-background: #212121;
  --primary-text: #212121;
  --secondary-text: #fff;
  --yellow-color: #eceb67;
  --red-color: #ff5605;
  --blue-color: #2f5acf;
  --green-color: #00b761;
  --nav-height: 80px;
  --nav-color: #212121;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  /* background-color: var(--primary-background); */
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.ml-4{
  margin-left: 1.5rem;
}