.site-footer {
  background-color: #000000;
  padding: 0.5rem 0;
  margin-top: 3rem;
  color: #fff;
}


.site-footer__title {
  font-size: 2rem;
  margin: 2rem 0;
}

.site-footer__description {
  font-size: 1.5rem;
  line-height: 2.8rem;
  margin-bottom: 10px;
  max-width: 600px;
}

.site-footer__sidebar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;

  @media (max-width: 768px) {
    flex-direction: column;

    .footer-social{
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}



.footer-social__item {
  margin-right: 1rem;
  font-size: 2rem;
  color: #fff;
}

.footer-social__item img {
  width: 30px;
  height: 30px;
  margin-right: 1rem;
  color: #fff;
}